@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fieldset-bordered {
    border: 1px solid #dee2e6;
    padding: 3rem 3rem 1rem;
    border-radius: 0.375rem;
}

.fieldset-bordered legend {
    float: none;
    width: auto;
    padding: 0 0.75rem;
    margin-left: 1rem;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
}

.fieldset-main {
    border: 1px solid #495057;
    padding: 3rem;
    background-color: snow;
}

.fieldset-main > legend {
    font-size: 22px;
    color: #212529;
    padding: 0 1rem;
}

.fieldset-main .fieldset-bordered {
    background-color: white;
    padding: 2rem 2rem 1rem;
}

input:focus,
select:focus {
    outline: 2px solid #666;
    outline-offset: 1px;
    border-color: #666;
    background-color: #ffffff;
}

.input-wrapper {
    position: relative;
    width: 100%;
}


button[type="submit"],
.btn-general {
    width: -webkit-fill-available;
    padding: 0.7rem 1.5rem;
    border: 1px solid #212529;
    margin: 10px;
    border-radius: 4px;
    background-color: #212529;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-general:hover {
    width: -webkit-fill-available;
    border: 1px solid #212529;
    background-color: #ffffff;
    color: #212529;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-general:hover:active {
    width: -webkit-fill-available;
    border: 1px solid #ffffff;
    background-color: #212529;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
